html {
    scrollbar-color: #ffffff black;
}

a {
    color: white !important;
    text-decoration: none !important;
}


body {
    margin: 0;
    padding: 0;
    background-color: #f2f4f3;
    font-family: 'Roboto', sans-serif;
}

input::placeholder {
    text-align: center;
}

nav {
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #070D0D;
    display: flex;
    height: 8vh;
    align-items: center;
    font-size: 1.2rem;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}



#search {
    border: none;
    border-radius: 3px;
    width: 30vw;
}


#suggestions {
    width: 30vw;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    /* display: none; */
}
#suggestions a{
    display: block;
    color: black !important;
}

#poster {
    min-height: 74vh;
    background: linear-gradient(to bottom right, #ffffff, beige);
    padding: 5vw;
    position: sticky;
    top: 1vh;
    z-index: -1;
}

#omdb {
    background-color: #ffffff;
    text-align: center;
    padding: 6rem;
}

@media (max-width:500px) {
    nav {
        padding-left: 1vw;
        padding-right: 1vw;
    }

    #search {
        width: 40vw;
    }
    #suggestions{
        width: 40vw;
    }

    #poster {
        text-align: start;
        position: relative;
    }
    #omdb {
        padding: 1rem;
        padding-top: 5rem;
    }
}